# Copy this file to .env and insert local secrets there.
DATABASE_URL=postgresql://postgres:PASSWORD@127.0.0.1:5432/jupiter_data_transform
JUPITER_SEARCH_API_KEYS=key1,key2
JUPITER_RECENT_API_KEY=key0

JUPITER_CALLS_PER_MINUTE=58

JUPITER_BASE_URL=https://api.jup.ag
JUPITER_REQUEST_TIMEOUT_SECONDS=20
COLLECT_INTERVAL_SECONDS=1
DISCOVERY_INTERVAL_SECONDS=5
PUMPPORTAL_API_KEY=pumpfunAPI Key
